In [1]:
!pip install hdbcli

Collecting hdbcli
  Obtaining dependency information for hdbcli from https://files.pythonhosted.org/packages/3e/a5/5f1d4e0d19c121d0bfaed2aba2858394ff5ef907654246a7b14e001d3e9a/hdbcli-2.22.32-cp36-abi3-win_amd64.whl.metadata
  Downloading hdbcli-2.22.32-cp36-abi3-win_amd64.whl.metadata (6.1 kB)
Downloading hdbcli-2.22.32-cp36-abi3-win_amd64.whl (3.6 MB)
   ---------------------------------------- 0.0/3.6 MB ? eta -:--:--
   -- ------------------------------------- 0.2/3.6 MB 6.6 MB/s eta 0:00:01
   ----- ---------------------------------- 0.5/3.6 MB 5.6 MB/s eta 0:00:01
   ------- -------------------------------- 0.7/3.6 MB 5.6 MB/s eta 0:00:01
   ---------- ----------------------------- 1.0/3.6 MB 5.6 MB/s eta 0:00:01
   ------------- -------------------------- 1.2/3.6 MB 5.5 MB/s eta 0:00:01
   ---------------- ----------------------- 1.5/3.6 MB 5.6 MB/s eta 0:00:01
   ------------------- -------------------- 1.7/3.6 MB 5.5 MB/s eta 0:00:01
   ---------------------- ----------------- 2.0/3.6 MB 5.6 MB/s eta 0:00:01
   ------------------------ --------------- 2.2/3.6 MB 5.5 MB/s eta 0:00:01
   --------------------------- ------------ 2.5/3.6 MB 5.5 MB/s eta 0:00:01
   ----------------------------- ---------- 2.7/3.6 MB 5.5 MB/s eta 0:00:01
   ------------------------------- -------- 2.8/3.6 MB 5.3 MB/s eta 0:00:01
   --------------------------------- ------ 3.0/3.6 MB 5.1 MB/s eta 0:00:01
   ------------------------------------ --- 3.3/3.6 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  3.5/3.6 MB 5.2 MB/s eta 0:00:01
   ---------------------------------------- 3.6/3.6 MB 5.0 MB/s eta 0:00:00
Installing collected packages: hdbcli
Successfully installed hdbcli-2.22.32

In [1]:
import pandas as pd
from hdbcli import dbapi
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Establish connection
conn = dbapi.connect(
    address="localhost",  # SAP HANA host
    port=39015,           # SAP HANA SQL port
    user="SYSTEM",        # Your username
    password="Gaara@123" # Your password
)

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10061:No connection could be made because the target machine actively refused it (localhost:39015))")

In [4]:
# Establish connection
conn = dbapi.connect(
    address="0.0.0.0",  # SAP HANA host
    port=39015,           # SAP HANA SQL port
    user="SYSTEM",        # Your username
    password="Gaara@123" # Your password
)

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10049:The requested address is not valid in its context {0.0.0.0:39015} (0.0.0.0:39015))")

In [5]:
# Establish connection
conn = dbapi.connect(
    address="192.168.124.128",  # SAP HANA host
    port=39015,           # SAP HANA SQL port
    user="SYSTEM",        # Your username
    password="Gaara@123" # Your password
)

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10060:A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond {192.168.124.128:39015} (192.168.124.128:39015))")

In [6]:
# Establish connection
conn = dbapi.connect(
    address="192.168.124.128",  # SAP HANA VM IP
    port=39015,                 # Correct SAP HANA SQL port
    user="SYSTEM",              # SAP HANA user
    password="Gaara@123"  # Correct password
)

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10060:A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond {192.168.124.128:39015} (192.168.124.128:39015))")

In [9]:
# Establish connection to SAP HANA
conn = dbapi.connect(
    address="192.168.124.128",  # Use localhost if you have port forwarding set
    port=39015,           # Default SAP HANA SQL port
    user="SYSTEM",        # SAP HANA user (replace with your own user)
    password="Gaara@123"  # SAP HANA password (replace with your own password)
)

print("Connection established successfully!")

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10060:A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond {192.168.124.128:39015} (192.168.124.128:39015))")

# Date: 06 Dec 2024

In [4]:
# Step 2.1: Establish a connection to SAP HANA
connection = dbapi.connect(
    address="127.0.0.1",  # Use "localhost" or the VM IP address
    port=39015,           # Default SAP HANA port
    user="SYSTEM",        # Your SAP HANA username
    password="Gaara@123"  # Your SAP HANA password
)

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10061:No connection could be made because the target machine actively refused it {127.0.0.1:39015} (127.0.0.1:39015))")

In [5]:
# Step 2.1: Establish a connection to SAP HANA
connection = dbapi.connect(
    address="192.168.124.128",  # Use the VM's IP address
    port=39015,                # Default SAP HANA port
    user="SYSTEM",             # Your SAP HANA username
    password="Gaara@123" # Your SAP HANA password
)

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10060:A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond {192.168.124.128:39015} (192.168.124.128:39015))")

In [6]:
# Step 2.1: Establish a connection to SAP HANA
connection = dbapi.connect(
    address="192.168.0.156",  # Use the VM's IP address
    port=39015,                # Default SAP HANA port
    user="SYSTEM",             # Your SAP HANA username
    password="Gaara@123" # Your SAP HANA password
)

Error: (-10709, "Connection failed (RTE:[89006] System call 'connect' failed, rc=10060:A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond {192.168.0.156:39015} (192.168.0.156:39015))")

In [8]:
# Step 2.1: Establish a connection to SAP HANA
connection = dbapi.connect(
    address="192.168.0.156",  # Use the VM's IP address
    port=39015,                # Default SAP HANA port
    user="SYSTEM",             # Your SAP HANA username
    password="Gaara@123" # Your SAP HANA password
)

# Test the connection
print("Connected to SAP HANA!")

Connected to SAP HANA!

In [9]:
# Step 2.2: Create a cursor to execute queries
cursor = connection.cursor()

In [10]:
# Step 2.3: Define and execute the query
query = "SELECT * FROM my_schema.my_table;"
cursor.execute(query)

True

In [11]:
# Step 2.4: Fetch all rows and column names
data = cursor.fetchall()
columns = [col[0] for col in cursor.description]

In [12]:
# Step 2.5: Create a Pandas DataFrame
df = pd.DataFrame(data, columns=columns)

In [13]:
# Step 2.6: Display the DataFrame
df

   ID           NAME  AGE           ADDRESS
0   1       John Doe   28    123 elm street
1   2    Larry Smith   35  456 avenue block
2   3     Jane Smith   26   789 field tower
3   4     Chris Bale   32   901 City street
4   5  Amanda Geller   21   402 elixir road

In [14]:
# Step 2.7: Close the cursor and connection
cursor.close()
connection.close()